
.screenshot {
  max-width: 579px;
}

.proj-card {
  margin: 50px;
}

.proj-card:nth-child(even) {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}