@import '../../index.scss';

.screenshot {
  max-width: 450px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  cursor: pointer;
  transition: border 150ms;
  &:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, .6, .14), 0 4px 2px -2px rgba(0, 0, .6, .16), 0 1px 5px 0 rgba(0, 0, .6, .16);
  }
}

.link {
  color: $blue;
  &:hover {
    color: $caliente;
  }
}

.proj-card {
  margin: 100px;
}

.proj-card:nth-child(even) {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}