.screenshot {
  max-width: 450px;
  box-shadow: 30px 30px 40px 0 rgba(0,0,0,.2);
}

.proj-card {
  margin: 50px;
}

.proj-card:nth-child(even) {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}