body {
    background-color: yellow;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
	margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 30px;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid blue;
    background-color: blue;
}

.nav-links {
    display: flex;
    padding: 0;
    list-style: none;
}

.nav-bar h2, a {
    color: #b0b8c0;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.logo {
    margin: 0 0 0 2%;
    font-size: 1.45em;
}

a:hover {
    color: #718daa;
}

li {
    list-style: none;
}

.fullpage {
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.banana {
    max-width: 1000px;
    margin: auto;
}

.banana-text {
    padding: 40px;
    margin: auto;
}

.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    color: #cfe9f6;
    height: 45px;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-links a:hover {
    color: #718daa;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    padding-top: 50px;
    width: 1000px;
}

.card {
    width: 300px;
    background-color: lightblue;
    margin: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid navy;
}

.card-pic {
    max-width: 250px;
}
