@import '../../index.scss';

.homePage {
  height: 80vh;
  display: table;
  margin: 0;
  max-width: none;
}

.skillz {
  font-family: 'Roboto', sans-serif;
  color: $slate;
  font-style: italic;
  padding: 20px;
}


.icons {
  font-size: 6rem;
  padding: 10px;
  color: $blue;
}

i {
    margin: 30px;
}