$slate: #41748D;
$blue: #00A3E0;


.homePage {
  height: 80vh;
  display: table;
  margin: 0;
  max-width: none;
}

.indent {
    text-indent: 2em;
}

.name {
  font-family: 'IBM Plex Sans', sans-serif;
  color: $slate;
  font-size: 4em;
}

.deco {
    color: $blue;
}