$slate: #41748D;
$caliente: #EF3340;
$white: #eff1f3;
$blue: #00A3E0;

#navbar {
  // background-color: $slate;
  font-family: 'Open Sans', sans-serif;
  color: $slate;
}

.nav-link {
  font-size: 1.3em;
  margin-left: 4px;
  margin-right: 4px;
}