$slate: #41748D;
$caliente: #EF3340;
$white: #eff1f3;
$blue: #00A3E0;

#navbar {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  color: $slate;
}

.navbar-brand {
  font-size: 1.5em;
  color: $slate !important;
}