@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
}

.navbar {
  background-color: transparent;
}

#marshall {
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
  height: 300px;
  width: 300px;
}

.fullPage {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.screenshot {
  max-width: 579px;
}

.proj-card {
  margin: 50px;
}

.proj-card:nth-child(even) {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}