@import "~bootstrap/scss/bootstrap";

$slate: #41748D;
$caliente: #EF3340;
$white: #eff1f3;
$blue: #00A3E0;

html {
  height: 100%;
}

body {
  background-color: $white;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}


.header {
  border-bottom: 1px solid $caliente;
  margin-bottom: 20px;
}

.fullPage {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
}


#connect {
  margin-top: 40px;
  padding-top: 200px;
}

li { 
  cursor: pointer;
}

.footer {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: .9rem;
  padding: 24px 0;
  color: $slate;
  text-align: center;
}