@import "~bootstrap/scss/bootstrap";

.header {
  border-bottom: 1px solid red;
  margin-bottom: 20px;
}

#body {
  background-size: cover;
  background-repeat: no-repeat;
}

.fullPage {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
}


#connect {
  margin-top: 40px;
  padding-top: 200px;
}

#footer {
  background-color: transparent;
}